[submodule "ext-libs/printf"]
	path = ext-libs/printf
	url = https://github.com/mpaland/printf.git
[submodule "frigg"]
	path = frigg
	url = https://github.com/managarm/frigg.git
[submodule "cxxshim"]
	path = cxxshim
	url = https://github.com/managarm/cxxshim.git
[submodule "ext-libs/osdev-paging-x64"]
	path = ext-libs/osdev-paging-x64
	url = https://github.com/LittleCodingFox/osdev-paging-x64.git
