*.DS_Store
obj
bin
boot
tmp
INITRD
.vs
debug.log
.vscode
*.o
gnu-efi/x86_64/
qemu.log
limine
symbols.map
toolchain
dist/lib/ld.so
dist/lib/ld64.so.1
dist/lib/libc.so
dist/lib/libcrypt.so
dist/lib/libdl.so
dist/lib/libm.so
dist/lib/libpthread.so
dist/lib/libresolv.so
dist/lib/librt.so
dist/lib/libutil.so